@model Vidly.Models.Customer

@{
    ViewBag.Title = "Customer Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



@{
    var customer = ViewData["Customer"]
        as Vidly.Models.Customer;
}

@*@{
    var customer = ViewBag.Employee;
}*@

<h2>@ViewBag.Title</h2>
<dl>
    <dt>Customer ID:</dt>
    <dd>@customer.Id</dd>
    <dt>Customer Name:</dt>
    <dd>@customer.Name</dd>
    <dt>Email:</dt>
    <dd>@customer.Email</dd>
    <dt>Phone Number:</dt>
    <dd>@customer.PhoneNumber</dd>
</dl>
